/**
 * Elementor
*/

.elementor-widget {

    /* Icon box */
    &.elementor-widget-icon-box {
        .elementor-icon-box-icon {
            padding-bottom: 15px;

            .elementor-icon {
                font-size: 42px;
            }
        }

        .elementor-icon-box-title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .elementor-icon-box-description {
            font-size: 14px;
        }
    }

    /* Icon list */
    &.elementor-widget-icon-list {
        li.elementor-icon-list-item {
            font-size: 14px;
            margin-bottom: 8px;
            position: relative;

            .elementor-icon-list-icon i {
                width: 14px;
            }

            .elementor-icon-list-icon {
                color: var(--brand);
            }
            .elementor-icon-list-text {
                padding-left: 18px;
            }
        }
    }

    /* Button */
    &.elementor-widget-button {
        .elementor-button {
            @extend .btn;
        }

        &.full {
            .elementor-button {
                width: 100%;
            }
        }

        &.accent {
            .elementor-button {
                color: var(--brand);
                border: 2px solid;
                background: transparent;

                &:hover {
                    border-color: var(--brand);
                    background: var(--brand);
                    color: #fff;        
                }
            }
        }

        &.pricing {
            .elementor-button {
                font-size: 16px;
                font-weight: 500;            
            }
        }
    }

    /* Custom Toggle */
    &.elementor-widget-plugincube-toggle {
        text-align: center;
        
        .plugincube-toggle {
            display: inline-flex;
            align-items: center;
            font-size: 18px;
            color: #090909;
            font-weight: 500;
            position: relative;
            padding: 0 20px;

            .toggle-trigger {
                display: inline-flex;
                height: 36px;
                width: 68px;
                border-radius: 18px;
                margin: 0 25px;
                background: #858994;
                position: relative;
                
                .toggle-circle {
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    border-radius: 50%;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    box-shadow: 0 0 10px 0px rgba(0,0,0,0.15);
                    transition: all .25s linear;
                }
            }

            &.active {
                .toggle-trigger {
                    background: #14cb59;

                    .toggle-circle {
                        left: 40px;
                    }
                }
            }

            .primary-text, .secondary-text {
                span {
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    white-space: nowrap;
                    font-size: 12px;
                    font-weight: 500;
                    color: #fff;
                    background: #14cb59;
                    line-height: 26px;
                    padding: 0 12px;
                    border-radius: 5px;
                    margin-top: -13px;

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 3.5px 3px 3.5px 0;
                        border-color: transparent #14cb59 transparent transparent;
                        position: absolute;
                        top: 50%;
                        margin-top: -3.5px;
                        left: -3px;
                    }
                }
            }

            .primary-text {
                span {
                    right: 100%;
                    left: auto;

                    &::after {
                        left: auto;
                        right: -3px;
                        transform: rotate(180deg);                
                    }
                }
            }
        }
    }
}
