header.header {
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    transition: all .25s cubic-bezier(.25,.8,.25,1);

	.container {
		padding: 0px 10px;
	}

    &.fixed-show {
        background: white;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        color: #090909;
    }

    .separator {
        width: 10px;
        height: 1px;
        background: #090909;
        margin-left: 35px;
        margin-right: 5px;
    }

    .menu {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1;

        li {
            white-space: nowrap;
        }

        > li {
            display: inline-flex;
            position: relative;
			align-items: center;
            margin-left: 30px;

            &.menu-item-has-children {
                &:hover .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }

            > a {
                font-weight: 700;
                font-size: 15px;
                padding: 15px 0;
                color: #090909;
                transition: all .5s cubic-bezier(.25,.8,.25,1);
                
				&:hover {
					color: var(--brand);
				}
            }
        }

        .sub-menu {
            padding: 30px 0;
            margin: 0;
            margin-top: 10px;
            list-style: none;
            background: #090909;
            position: absolute;
            text-align: left;
            min-width: calc(100% + 60px);
            top: 100%;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 4px 18px rgba(0,0,0,.1);
            z-index: 2;
            transition: all .5s cubic-bezier(.25,.8,.25,1);
            border-radius: 3px;

            > li {
                display: block;
                padding: 0 30px;
                margin-bottom: 15px;
                font-size: 13px;
                line-height: 1.1;

                > a {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    position: relative;
                    line-height: 1.2;
                    color: #ffffff;
                    font-weight: 700;
                    transition: all .25s cubic-bezier(.25,.8,.25,1);

                    &:hover {
                        opacity: .85;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .header-btn {
            a {
                @extend .btn;
                background: #090909;
                height: 40px;
                padding: 0 20px;

				&:hover {
                    background: #1a1a1a;
                    color: #ffffff;
				}
            }
        }
    }

	svg {
		fill: currentColor;
	}

	.burger-icon {
		align-items: center;
		display: none;
		margin-left: 15px;
		cursor: pointer;
	}

	.mobile-menu-only {
		display: none;
	}
}

// Resonsive menu
@media only screen and (max-width: 900px) {
	header.header {
		.burger-icon {
			display: inline-flex;
		}

		.menu {
			display: none;
		}

		.mobile-menu-only {
			display: inline-flex;
		}

		nav {
			width: 300px;
			max-width: 100%;
			overflow: hidden;
			height: 100%;
			position: fixed;
			top: 0;
			background: #ffffff;
			box-shadow: 0 9px 38px rgba(0,0,0,0.05), 0 5px 12px rgba(0,0,0,0.1);
			z-index: 2;
			left: -300px;
			opacity: 0;
			transition: all .25s ease-in-out;

			&.open {
				left: 0px;
				opacity: 1;
			}

			.navbar-brand {
				margin: 30px 30px 60px;
			}

			.menu {
				display: block;
				margin: 0 !important;
				float: left;
				border-top: 1px solid #eee;

				> li {
					display: block;
					position: relative;
					align-items: center;
					width: 100%;
					float: left;
					margin: 0 !important;
					border-bottom: 1px solid #eee;

					> a {
						padding: 15px 20px;
						float: left;
						width: 100%;
					}

					&.menu-item-has-children {
						> a::after, .sub-menu {
							display: none !important;
						}
					}
				}
			}
		}
	}
}

// light Header
header.header.light {
    .navbar-brand {
        color: #f2f2f2;
    }

    .separator {
        background: #555c61;
    }

    .menu {
        .header-btn a {
            background: var(--brand);
        }
        
        > li {
            a {
                color: #f2f2f2;
            }
        }
    } 
}