/**
 * Utilities
*/

.rounded-circle {
    border-radius: 50%;
}

.text-muted {
    color: #929292;
}

.text-danger {
    color: #dc3545;
}

.text-capitalize {
    text-transform: capitalize;
}

.font-weight-light {
    font-weight: lighter;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.card {
    padding: 40px;
    border-radius: 3px;
    font-size: 14px;
    background: #e7eaec;
}