/**
 * Utilities
*/

.rounded-circle {
    border-radius: 50%;
}

.text-muted {
    color: #929292;
}

.text-danger {
    color: #dc3545;
}

.font-weight-light {
    font-weight: lighter;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}
